pandas
scipy<=1.5.4
seaborn
matplotlib
IPython
joblib
scikit-learn==0.23.2
ipywidgets
yellowbrick>=1.0.1
lightgbm>=2.3.1
plotly>=4.4.1
wordcloud
textblob
cufflinks>=0.17.0
umap-learn
pyLDAvis
gensim<4.0.0
spacy<2.4.0
nltk
mlxtend>=0.17.0
pyod
pandas-profiling>=2.8.0
kmodes>=0.10.1
mlflow
imbalanced-learn==0.7.0
scikit-plot #for lift and gain charts
Boruta
pyyaml<6.0.0
numba<0.55
cloudpickle==1.6.0
psutil==5.8.0
typing-extensions==4.1.1
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
certifi==2019.11.28
itsdangerous==1.1.0
pycaret==1.0.0